body { 
    background: url(../images/modal-background-1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrap {
    background-color: rgba(37, 22, 117, 0.4);
    width: 100%;
}


.btn {
    border-radius: 25px;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: blue;
    width: 100px;    
}

#buttonDiv {
    margin-right: 2%;
}



@media only screen and (max-width: 768px) {
    #navBar {
        background: transparent;
    }
}