body { 
    background: url(../images/modal-background-1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrap {


    /* background-color: rgba(37, 22, 117, 0.4); */
    width: 100%;
}


.btn {
    border-radius: 25px;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: url(../images/sparkling-black.gif);
    background-size: 250px;
    width: 80px;
    height: 40px;

	color: rgb(83, 9, 179);
	font-size: 15px;
	font-family: 'Miltonian Tattoo', cursive;
    font-weight: 900;
    font-size: 18px;
    transition: background 1s, transform 0.5s ease;
}

h1{
    background: -webkit-linear-gradient(rgb(83, 9, 179), rgb(160, 82, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* .shimmer1 {

background-image: linear-gradient(to right, rgb(20, 20, 119) 0%,  rgb(0, 0, 148) 20%, rgb(20, 20, 119) 40%, rgb(20, 20, 119) 100%);

    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: backwards; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    width: 100px;
}

.shimmer2 {
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: backwards; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: cubic-bezier(0.2, -0.6, 0, 1);
    width: 100px;
}

.shimmer3 {
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: backwards; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 1, 1);
    width: 100px;
}

.shimmer4 {
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: backwards; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: cubic-bezier(0.6, 0, 0.6, 0);
    width: 100px;
} */

.btn:hover {

    transform: scale(1.2, 1.2);

    color: rgb(183, 0, 230);
    background: linear-gradient(rgb(12, 12, 100), rgb(27, 27, 170));


}

@-webkit-keyframes placeholderShimmer {
    0% {
      background-position: -468px 0;
    }
    
    100% {
      background-position: 468px 0; 
    }
  }

   


#buttonDiv {
    margin-right: 2%;
}



@media only screen and (max-width: 600px) {
    #navBar {
        background: transparent;
    }
}